[Unit]
Description=Thanos Rules Component
Wants=network-online.target
After=network-online.target

[Service]
User=thanos
Group=thanos
ExecStart={{ thanos_parent_install_dir }}/thanos-{{ thanos_ver }}.linux-amd64/thanos rule \
  {{ thanos_rule_flags | map('regex_replace', '^', '--') | join(' ') }}
Restart=on-failure
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
